<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>ระบบวิเคราะห์ข้อมูลขนาดใหญ่ในระบบฐานข้อมูลตำบลในจังหวัดมหาสารคามโดยใช้การเรียนรู้ของเครื่อง</title>

  <!-- CSS  -->
  <!-- <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> -->
  <link href="https://fonts.googleapis.com/css?family=Kanit&subset=thai,latin" rel="stylesheet"/>

  <link href="./static/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="./static/css2/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
<script type="text/javascript">
        function formProcess() {
        var capture = document.forms["input"]["first_name"].value + '<br>';
        document.getElementById("outputDiv").innerHTML = capture;
    }

</script>

</head>

<body>
  <nav class="green" role="navigation">
      <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">โครงการ: การประยุกต์ใช้ปัญญาประดิษฐ์เพื่อวิเคราะห์ระบบฐานข้อมูลตำบลในจังหวัดมหาสารคาม</a></div>
  </nav>

  <!-- Start -->


  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center blue-text">การจัดการน้ำของชุมชน </h1>
      <div class="row center">
        <h5 class="header col s12 light">ทำนายผลของการแก้ปัญหาการใช้น้ำที่ไม่เพียงพอ
        <br>
        </h5>
      </div>

              <div class="row">
    <form action='/predict' method="post" class="col s12">
      <div class="row">
        <div class="input-field col s4">
            <label for="Establishment of a community water supply system"><b>การจัดทำระบบประปาของชุมชน</b></label>
            <br><br>
          <input placeholder="ถ้ามีใส่เลข 1/ ถ้าไม่มีใส่เลข 0" name="Establishment of a community water supply system" id="Establishment of a community water supply system" type="text" class="validate">
          <div class="green-text"><b>{{answer}}{{a0}}</b></div>
        </div>

            <div class="input-field col s4">
            <label for="Providing clean water to distribute in case of drought"><b>การจัดหาน้ำสะอาดไว้แจกจ่ายกรณีเกิดภัยแล้ง</b></label>
            <br><br>
          <input placeholder="ถ้ามีใส่เลข 1/ ถ้าไม่มีใส่เลข 0" name="Providing clean water to distribute in case of drought" id="Providing clean water to distribute in case of drought" type="text" class="validate">
          <div class="green-text"><b>{{answer}}{{a1}}</b></div>
        </div>

            <div class="input-field col s4">
            <label for="Production of drinking water for sale to the community"><b>การผลิตน้ำดื่มเพื่อจำหน่ายให้กับชุมชน</b></label>
            <br><br>
          <input placeholder="ถ้ามีใส่เลข 1/ ถ้าไม่มีใส่เลข 0" name="Production of drinking water for sale to the community" id="Production of drinking water for sale to the community" type="text" class="validate">
          <div class="green-text"><b>{{answer}}{{a2}}</b></div>
        </div>





</div>

<!-- End -->

      <div class="row center">
          <button type="submit" class="btn-large waves-effect waves-light blue"><b>ประมวลผล</b></button>
      </div>
    </form>
      </div>

      <h5 class="header center black-text">{{word}}</h5>
      <h5 class="header center orange-text">{{pred}}</h5>

    </div>
  </div>


    <br><br>


  <footer class="page-footer green">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">


        </div>

      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
          <a class="orange-text text-lighten-3" href="https://materializecss.com"></a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src=".js/materialize.js"></script>
  <script src="js/init.js"></script>

  </body>
</html>